.container {
  background-color: #091e42;

  height: auto;
  margin-top: 0;
}

.nav__ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  background-color:#091e42;
  color: white;
}

.nav__menu {
  list-style: none;
  display: flex;
  justify-items: space-between;
  color: white;
}

.nav__menu li {
  padding-left: 5rem;
}

.aux {
  
  height: 50px;
  position: absolute;
  top: 10%;
  align-self: flex-start;
  
}

.section__one {
  z-index: 1;
  color: white;
  height: 200px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  position: sticky;
  top:0;
  margin-bottom: 20%;
  background-color:#091e42;
}

.h1 {
  font-size: 92px;

  top: -50px;
}

.h1_aux {
  font-size: 30px;
  position: absolute;
  bottom: -7%;
  left: 1%;
  padding-left: 6%;
}

.icon {
  position: relative;
  left: -1%;
  top: -15px;
  
}

.section__one_item2 {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.section__one_item2 .input {
  width: 0;
  background: none;
  border: none;
  border-bottom: 1px solid gray;
  position: relative;
  bottom: 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.section__one_item2 .input {
  
  width: 300px;
  

}

.myInput {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid gray;
  position: relative;
  top: 90px;
  display: none;
  color: aliceblue;
}

.myInput:focus {
  outline: none;
  color: white;
}
.section__one_item2 input:focus {
  outline: none;
  color: white;
}

.section__two {
  background-color: #091e42;
  padding-right: 5%;
  padding-left: 5%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  
}
.section__text {
  color: white;
  padding-left: 7%;
  display: flex;
  flex-direction: column;
}

#h3 {
  position: relative;
  bottom: 50px;
  color: white;
}

.card__subtitle {
  position: relative;
  bottom: 15px;
}

.section__two .card__ {
  padding-left: 20px;
  color: white;
}

@media (max-width: 846px) {
  .section__two {
    padding-right: 5%;
    padding-left: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .section__one_item2 input {
    display: none;
  }
  .nav__menu {
    display: none;
  }

  .myInput {
    display: block;
  }
}

@media (max-width: 460px) {
  .section__two {
    padding-right: 5%;
    padding-left: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section__one_item1 h1 {
    font-size: 50px;
  }

  .nav__menu {
    display: none;
  }
}
